/* width */
::-webkit-scrollbar {
    width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(2, 140, 183); 
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(2, 140, 183);/* width */
; 
}