<div class="container-fluide bg-dark text-white align-middle" style=" margin: 0 0 0 0; min-height: 25vh; padding-top: 5vh;  border: 2%; border-radius: 20% 20% 0% 0%;">
    <figure class="text-center align-middle">
      <blockquote class="blockquote">
        <i class="fa-solid fa-certificate fa-beat-fade"></i> Online E-Commerce Vendor Verification
      </blockquote>
      <figcaption class="blockquote-footer">
        Make your business verified & make sell/purchase safer.
        <br>
        <small class="text-info">©Copyright 2022 OEVVS. All right reserved.</small>
        <p class="text-white">
          <span><i class="fa-solid fa-phone"></i> <a href="tel:+8802934XXXX">+8802934XXXX</a></span> | <span><i class="fa-solid fa-envelope"></i> <a href="mailto: support@oevvs.govt.bd">support@oevvs.govt.bd</a></span> 
        </p>
      </figcaption>
    </figure>
</div>