<div class="container-fluide bg-dark text-white align-middle" style=" margin: 0 0 0 0; min-height: 20vh; padding-top: 6vh;  border: 2%; border-radius: 20% 20% 0% 0%;">
    <figure class="text-center align-middle">
      <blockquote class="blockquote">
        <i class="fa-solid fa-certificate fa-beat-fade"></i> Online E-Commerce Vendor Verification
      </blockquote>
      <figcaption class="blockquote-footer">
        Make your business verified & make sell/purchase safer.
      </figcaption>
    </figure>
</div>