<!-- Nav Controller -->
<script type="text/javascript" src="../../controllers/layouts/_publicNavbarController.js"></script>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand"><i class="fa-solid fa-certificate fa-beat"></i>  OEVVS</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" id="homeTab"><i class="fa-solid fa-house"></i>  Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" id="searchTab"><i class="fa-solid fa-magnifying-glass"></i>  Search</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-warning me-2" type="button" data-bs-toggle="modal" data-bs-target="#signupModal">
            <i class="fa-solid fa-user-plus"></i>  SignUp
          </button>
          <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#signinModal">
            <i class="fa-solid fa-right-to-bracket"></i>  SignIn
          </button>
        </form>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>

  <!--  SignUp Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalLabel">
            <i class="fa-solid fa-user-plus"></i>  Vendor Registration
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="signup_name" placeholder="XXX XXXX">
            <label for="signup_name"><i class="fa-solid fa-user"></i> Name</label>
          </div>
          <div class="form-floating mb-2">
            <input type="email" class="form-control" id="signup_email" placeholder="name@example.com">
            <label for="signup_email"><i class="fa-solid fa-at"></i> Email address</label>
          </div>
          <div class="form-floating mb-2">
            <input type="number" class="form-control" id="signup_contact" placeholder="name@example.com">
            <label for="signup_contact"><i class="fa-solid fa-phone"></i> Mobile No. (+880-XXXXXXXXXX)</label>
          </div>
          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="signup_nid" placeholder="30XX67XXXX">
            <label for="signup_nid"><i class="fa-solid fa-address-card"></i> National Identity No.</label>
          </div>
          <div class="mb-2 text-center">
            -OR-
          </div>
          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="signup_passport" placeholder="30XX67XXXX">
            <label for="signup_passport"><i class="fa-solid fa-passport"></i> Passport No.</label>
          </div>
          <div class="form-floating mb-2">
            <select class="form-select" id="signup_gender" aria-label="Floating label select example">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
            <label for="signup_gender"><i class="fa-solid fa-mars-and-venus"></i> Gender</label>
          </div>
          <div class="form-floating mb-2">
            <input type="date" class="form-control" id="signup_dob">
            <label for="signup_dob"><i class="fa-solid fa-calendar-days"></i> Date of Birth</label>
          </div>
          <div class="form-floating mb-3">
            <select class="form-select" id="signup_bg" aria-label="Floating label select example">
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>
            </select>
            <label for="signup_bg"><i class="fa-solid fa-droplet"></i> Blood Group</label>
          </div>

          <div class="container-fluide mb-2" align="center">
            <button type="button" class="btn btn-outline-danger btn-sm" style="min-width: 50%;" id="signupBTN">Register</button>
          </div>
        </div>       
      </div>
    </div>
  </div>

  <!--  SignIn Modal -->
  <div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="signinModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signinModalLabel">
            <i class="fa-solid fa-right-to-bracket"></i>  SignIn
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-floating mb-2">
            <input type="email" class="form-control" id="login_email" placeholder="name@example.com">
            <label for="login_email"><i class="fa-solid fa-at"></i> Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="login_password" placeholder="Password">
            <label for="login_password"><i class="fa-solid fa-key"></i> Password</label>
          </div>
          <div class="container-fluide" align="center">
            <button type="button" class="btn btn-outline-danger btn-sm" id="loginBTN" style="min-width: 50%;">Login</button>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <div class="container-fluide" align="center">
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#recoverModal" style="min-width: 70%;">Forgot password? Click Here.</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--  Recover Modal -->
  <div class="modal fade" id="recoverModal" tabindex="-1" aria-labelledby="recoverModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recoverModalLabel">
            <i class="fa-solid fa-gear"></i>  Recover Password
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-floating mt-3 mb-3">
            <input type="email" class="form-control" id="recover_email" placeholder="name@example.com">
            <label for="recover_email"><i class="fa-solid fa-at"></i> Email address</label>
          </div>
          <div class="container-fluide" align="center">
            <button type="button" class="btn btn-outline-info btn-sm" id="recoverBTN" style="min-width: 50%;">Get Password</button>
          </div>
        </div>
      </div>
    </div>
  </div>