<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUPPORT | OEVVS</title>
    <link rel="icon" type="image/x-icon" href="../../assets/images/logo/logo.svg">
    

    <link href="../../assets/css/all.css" rel="stylesheet">
    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery_3.6.0.js"></script>
    <script src="../../assets/crypto.js/crypto.js"></script>
    
    <!-- URL Controller -->
    <script type="text/javascript" src="../../controllers/urlController.js"></script>

    <!-- Page Controller -->
    <script type="text/javascript" src="../../controllers/support/registrationController.js"></script>
</head>
<body>
    <header id="navbar"></header>

    <main class="container-fluide" style="min-height: 63vh;">
        <div class="container-fluid">
           <div class="pb-3" align="center">
                <button type="button" class="btn btn-danger"><i class="fa-solid fa-circle-check"></i> ACCEPT ALL</button>
           </div>

            <div class="table-responsive-sm">
                <table class="table table-sm table-striped table-hover">
                    <thead class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">NAME</th>
                        <th scope="col">NID/PASSPORT NO.</th>
                        <th scope="col">CONTACT</th>
                        <th scope="col"></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5" align="center">NO DATA FOUND</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer id="footer"></footer>
</body>
</html>